<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed">
                <span class="sr-only">导航</span>
            </button>

        </div>
             <a class="navbar-brand" href="/"> {{ 7 }},主页</a>
{#            {% if user.is_authenticated %}#}
                <a class="navbar-brand" href="/">我的任务</a>

{#                {% else %}#}
                        <ul class="nav navbar-nav navbar-right" >
                        <li><a class="" href="/question/login/">登录</a></li>
                        <li><a class="" href="/question/register/">注册</a></li>
                    </ul>

{#            {% endif %}#}



    </div>

</nav>