{% extends 'base/base.html' %}

{% block content %}
    <style>

        td,th{
            width: 80px;
            height: 20px;
            text-align: center;
            border:1px solid red;
            border-radius: 10px;
        }
        .detail {
            width: 150px;
            height: 20px;
        }
    table{
        margin: auto
        }
    </style>

    <table>
        <tr>
            <th>问卷ID</th>
            <th>问卷标题</th>
            <th>问卷类型</th>
            <th>创建时间</th>
            <th>创建者</th>
            <th>创建id</th>
            <th>操作</th>
            <th>点击量</th>
        </tr>
        {% for foo in myList %}
            <tr>
                <td>{{ foo.id }}</td>
                <td class="detail">
                    <a href="/questionnaires/my_questions_options/{{ foo.id }}">{{ foo.title }}</a>
                </td>
                <td>{{ foo.questionnaire_type }}</td>
{#                {{ foo.create_time|date:'Y-m-d H:i:s' }}#}
                <td class="detail">{{ foo.create_time|date:'Y-m-d' }}</td>
                <td>{{ foo.creator }}</td>
                <td>{{ foo.creator_id }}</td>
                <td class="detail">
                    <a href="/questionnaires/naire_delete/{{ foo.id }}">删除</a>
                    <a href="/questionnaires/naire_update/{{ foo.id }}">修改</a>
                </td>
                <td>{{ foo.clicks }}</td>
            </tr>
        {% endfor %}
    </table>


{% endblock %}